{% extends "btdht_search/base.html" %}
{% load i18n %}
{% load btdht_search %}

{% block title %}BTDHT | About{% endblock %}

{% block content2 %}
<h1>Overview</h1>
<p>
<a href="{{""|absolute_url:request}}">BTDHT Search</a> is a BitTorrent DHT search engine.<br/>
BitTorrent is a file sharing protocol.<br/>
DHT stand for Distributed Hash Table, the bittorent DHT, is a decentralized database used to find
peers distributing content.<br/>
A torrent is a file with metadata which describes distributed content.
</p>

<p>
BTDHT Search's database is formed by DHT users.<br/>
BTDHT Search participates in the bittorent DHT network and follows the bittorent DHT protocol specification.<br/>
The project name is an acronym for Bittorrent Distributed Hash Table Search.
</p>

<p>
BTDHT Search is not a tracker and doesn't store any content and only collects
torrent metadata (such as file names and file sizes) and a magnet link (torrent identifier).
</p>

<p>
BTDHT Search is fully automated and no one but the automated program crawling the DHT is adding torrents metadata to the database.
</p>

<h1>Contact</h1>

{% if settings.BTDHT_CONTACT_MAILHIDE_URL or settings.BTDHT_CONTACT_EMAIL %}
<p>
If you have any question, you can contact the site webmaster by mail
{% if settings.BTDHT_CONTACT_MAILHIDE_URL %}by clicking
<a
  href="{{settings.BTDHT_CONTACT_MAILHIDE_URL.0|safe}}"
  onclick="window.open(
    '{{settings.BTDHT_CONTACT_MAILHIDE_URL.1|safe}}',
    '',
    'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'
  ); return false;"
  title="Reveal this e-mail address">here</a>.
{% else %}at the address <a href="mailto:{{settings.BTDHT_CONTACT_EMAIL}}">{{settings.BTDHT_CONTACT_EMAIL}}</a>{% endif %}
<p>

<h1>Legal</h1>
{% if settings.BTDHT_LEGAL_ENABLE %}<p>You will find our legal notice <a href="{% url "btdht_search:legal" %}">here</a>.<p>{% endif %}
<p>
You will find the list of torrents found crawling the DHT that are no longer indexed due to a DMCA request or equivalent <a href="{% url "btdht_search:dmca" %}">here</a>
{% endif %}
{% endblock %}

