{% extends "btdht_search/base.html" %}
{% load i18n %}
{% load btdht_search %}

{% block title %}BTDHT | API{% endblock %}

{% block content2 %}
<h1>API</h1>
{% if request.user.is_authenticated and user_pref %}
<p>You API token: <pre>{{user_pref.token}}</pre></p>
{% endif %}
<p>
<p>You can consult the database using the JSON following json API:</p>
<ul>
  <li>
    For fetcthing search results :
    {% url "btdht_search:api_search" "AZERTYUIOP" 1 2 0 4 as search_url %}
    <pre>{{search_url|replace:"AZERTYUIOP:<query>"|replace:"1:<page_nb>"|replace:"2:<orderby_id>"|replace:"0:<asc>"|replace:"4:<category_id>"|absolute_url:request}}</pre>
    Categories ids are:
    <ul>
      <li>all: 0</li>
    {% for cat in const.categories %}
      <li>{{cat}}: {{forloop.counter}}</li>
    {% endfor %}
    </ul>
    Order ids are:
    <ul>
    {% for order, id in const.order_by %}
      <li>{{order}}: {{id}}</li>
    {% endfor %}
    </ul>
    <p>Set asc to 1 for sorting in ascending order, and 0 for descending order.</p>
    For instance, search for "debian", return the first result page, order by pertinence (score), descending order (more pertinent results, first), results from all categories:
{% url "btdht_search:api_search" "debian" 1 1 1 0 as search_url %}
<pre>
$ curl {{search_url|absolute_url:request}}
[
 {
  "peers": 0, 
  "seeds": 1, 
  "hash": "7661229811ef32014879ceedcdf4a48f256c88ba", 
  "name": "debian-8.4.0-i386-netinst.iso", 
  "complete": 0, 
  "created": 1477188735, 
  "last_scrape": 1477319941, 
  "file_nb": 1, 
  "score": 0.5714285714285714, 
  "size": 331350016
 }, 
 {
  "peers": 0, 
  "seeds": 0, 
  "hash": "3abddf1c551b4a5da02413dcd71fce0599e01d04", 
  "name": "debian-8.0.0-i386-netinst.iso", 
  "complete": 0, 
  "created": 1477014396, 
  "last_scrape": 1477319941, 
  "file_nb": 1, 
  "score": 0.5714285714285714, 
  "size": 330301440
 }, 
...
]
</pre>
  </li>
  <li>
  For reading a specific torrent info:
  {% url "btdht_search:api_info_torrent" "EFF64C9D27332054112405897710C51BB3DBB6DD" as torrent_url%}
  <pre>{{torrent_url|replace:"EFF64C9D27332054112405897710C51BB3DBB6DD:<torrent hex hash>"|absolute_url:request}}</pre>
  For instance :
  {% url "btdht_search:api_info_torrent" "7661229811ef32014879ceedcdf4a48f256c88ba" as torrent_url%}
<pre>
$ curl {{torrent_url|absolute_url:request}}
{
 "peers": 0, 
 "seeds": 1, 
 "hash": "7661229811ef32014879ceedcdf4a48f256c88ba", 
 "name": "debian-8.4.0-i386-netinst.iso", 
 "complete": 0, 
 "created": 1477188735, 
 "last_scrape": 1477319941, 
 "file_nb": 1, 
 "size": 331350016
}
</pre>
  </li>
  <li>
  Fetching recent torrents:
  {% url "btdht_search:api_recent" 1 2 as recent_url %}
  <pre>{{recent_url|replace:"1:<category_id>"|replace:"2:<page_nb>"|absolute_url:request}}</pre>
  For instance:
{% url "btdht_search:api_recent" 0 1 as recent_url %}
<pre>
$ curl {{recent_url|absolute_url:request}}
[
 {
  "peers": 9, 
  "seeds": 10, 
  "hash": "410660b3744984876f31c68d2dd2cf56e4a5d3af", 
  "name": "SNIS-659FHD.mp4", 
  "complete": 1637, 
  "created": 1477321297, 
  "last_scrape": 1477321383, 
  "file_nb": 1, 
  "size": 7470086567
 }, 
 {
  "peers": 0, 
  "seeds": 12, 
  "hash": "a61776bf5d01764a338296166ccdea7287fa49ca", 
  "name": "The.Wave.2016.TRUEFRENCH.DVDRIP-www.lien-torrent.com.com.avi", 
  "complete": 15, 
  "created": 1477321297, 
  "last_scrape": 1477321383, 
  "file_nb": 1, 
  "size": 1137139826
 }, 
...
]
</pre>
  </li>
  <li>
  Fetching top torrents:
  {% url "btdht_search:api_top" 1 2 as top_url %}
  <pre>{{top_url|replace:"1:<category_id>"|replace:"2:<page_nb>"|absolute_url:request}}</pre>
  For instance:
{% url "btdht_search:api_top" 0 1 as top_url %}
<pre>
$ curl {{top_url|absolute_url:request}}
[
 {
  "hash": "4e803a9d07492a5e8558d441b2a87b2b4ed67fde",
  "complete": 48397,
  "last_scrape": 1482774594,
  "file_nb": 2,
  "categories": [
   "video"
  ],
  "size": 989948328,
  "peers": 7843,
  "name": "The Accountant (2016) [YTS.AG]",
  "created": 1482610224,
  "magnet": "magnet:?xt=urn:btih:4e803a9d07492a5e8558d441b2a87b2b4ed67fde&db=The%20Accountant%20%282016%29%20%5BYTS.AG%5D&tr=...",
  "seeds": 8299
 },
...
]
</pre>
  </li>
</ul>
Page 1 always exists. You will get a 404 not found error if trying to fetch above the last page
{% endblock %}

