{% extends "btdht_search/base.html" %}
{% load i18n %}
{% load btdht_search %}
{% block title %}{% if query %}BTDHT | Search for {{query}}{% if torrents.page > 1 %}, page {{torrents.page}}{% endif %}{% else %}{% trans "BTDHT Search"  %}{% endif %}{% endblock %}
{% block pre_content %}
<div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 id="app-name">
                    {% if settings.BTDHT_LOGO_URL %}<img src="{{settings.BTDHT_LOGO_URL}}" alt="btdht-logo" />{% endif %}
                    {% trans "BTDHT Search" %}
                </h1>
              </div>
            </div>
{% endblock %}
{% block content %}
<form class="form-search" method="post" id="search_form">
{% csrf_token %}
{% include "btdht_search/form.html" %}
<button class="btn btn-primary btn-block btn-lg" type="submit">{% trans "Search" %}</button>
</form>
{% endblock %}


{% block content2 %}
{% if torrents %}
<h1 id="results">
  Search results
  <span id="add_fav" class="glyphicon glyphicon-star-empty pull-right" title="Mark as favorite" style="display: none; cursor:pointer"></span>
  <span id="del_fav" class="glyphicon glyphicon-star pull-right" title="Delete favorite" style="display: none; color:#ffbb33; cursor:pointer"></span>
</h1>
{% endif %}
{% include "btdht_search/torrent_table.html" %}
{% endblock %}

{% block javascript_inline %}{% if torrents %}
$(document).ready(function () {
    $(".pagination").rPage();
    init_search_fav()
});
{% endif %}
$('#id_query').autocomplete({
      source: "{% url "btdht_search:autocomplete" %}",
      minLength: 1,
});
{% endblock %}
