{% extends "btdht_search/base.html" %}
{% load i18n %}
{% load btdht_search %}
{% block title %}{% if query %}BTDHT | {{query}}{% else %}{% trans "BTDHT Search"  %}{% endif %}{% endblock %}
{% block pre_content %}
<div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 id="app-name">
                    {% if settings.BTDHT_LOGO_URL %}<img src="{{settings.BTDHT_LOGO_URL}}" alt="btdht-logo" />{% endif %}
                    {% trans "BTDHT Search" %}
                </h1>
              </div>
            </div>
{% endblock %}
{% block content %}
<form class="form-search" method="post" id="search_form">
{% csrf_token %}
{% include "btdht_search/form.html" %}
<button class="btn btn-primary btn-block btn-lg" type="submit">{% trans "Search" %}</button>
</form>
{% endblock %}


{% block content2 %}
{% if torrents %}<h1 id="results">Search results</h1>{% endif %}
{% include "btdht_search/torrent_table.html" %}
{% endblock %}

{% block javascript_inline %}
$(document).ready(function () {
    $(".pagination").rPage();
});
window.location.replace("#");
{% endblock %}

