{% extends "btdht_search/base.html" %}
{% load i18n %}
{% load btdht_search %}

{% block title %}{{torrent.name}} | BTDHT{% endblock %}

{% block javascript %}
<script src="{{settings.BTDHT_COMPONENT_URLS.datatable_js}}"></script>
<script src="{{settings.BTDHT_COMPONENT_URLS.datatable_filesize}}"></script>
{% endblock %}

{% block extra_head %}
<link href="{{settings.BTDHT_COMPONENT_URLS.datatable_css}}" rel="stylesheet">
{% endblock %}

{% block javascript_inline %}
$(document).ready(function(){
    $('#files_table').DataTable({
        paging: false,
        columnDefs: [{ type: 'file-size', targets: 1 }]
    });
    var search_input = $('#files_table_filter').find('input')
    search_input.addClass("form-control");
    search_input.css('width', 'auto');
    search_input.css('display', 'inline');
    $('#files_table_info').hide();
    $('#files_table').wrap('<div class="table-responsive" style="border:none"></div>');
});
{% endblock %}

{% block content2 %}
<br/>
<h1>Torrent infos</h1>
<div class="table-responsive" style="border: none">
<table class="table">
<tr><th>Name</th><td>{{torrent.name}}</td></tr>
<tr><th>Files</th><td>{% if torrent.files %}<a href="#torrent_files">{{torrent.file_nb}}</a>{% else %}{{torrent.file_nb}}{% endif %}</td></tr>
<tr><th>Size</th><td>{{torrent.size_pp}} ({{torrent.size}} Bytes)</td></tr>
{% if torrent.categories %}
<tr><th>{% if torrent.categories|length > 1 %}Categories{% else %}Category{% endif %}</th><td>{{torrent.categories_pp}}</td></tr>
{% endif %}
<tr><th>Uploaded</th><td>
{% if torrent.created_delta < 86400 %}
<span title="{{torrent.created_pp}}">{{torrent.created_delta_pp}}</span>
{% else %}
{{torrent.created_pp}}<span title="{{torrent.created_delta_pp}}">{% if request.COOKIES.timezone is None %} UTC{% endif %}</span>
{% endif %}
</td></tr>
<tr><th>Info Hash</th><td>{{torrent.hex_hash.upper}}</td></tr>
</table>
</div>
{% if settings.BTDHT_ADS_TEMPLATE %}{% include settings.BTDHT_ADS_TEMPLATE %}{% endif %}
{% if not settings.BTDHT_HIDE_MAGNET_FROM_UNAUTH or not settings.BTDHT_HIDE_TORRENT_LINK_FROM_UNAUTH or request.user.is_authenticated %}
{% comment %}<h2>Download Links</h2>{% endcomment %}
<div class="container">
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
    <ul class="list-group">
      {% if not settings.BTDHT_HIDE_MAGNET_FROM_UNAUTH or request.user.is_authenticated %}
      <li class="list-group-item">
        <a href="{{torrent.magnet}}" class="btn btn-success btn-block btn-lg">
            <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span> Magnet
        </a>
      </li>
      {% endif %}
      {% if not settings.BTDHT_HIDE_TORRENT_LINK_FROM_UNAUTH or request.user.is_authenticated %}
      {% if torrent.url %}
      <li class="list-group-item">
        <a href="{{torrent.url}}" class="btn btn-info btn-block btn-lg">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Torrent file
        </a>
      </li>
      {% endif %}
      {% endif %}
    </ul>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
</div>
</div>
{% endif %}
<div class="text-center">
{% if settings.BTDHT_SOCIAL_SHARE %}
{% for name, share in torrent.social_share_urls %}
{% if name in settings.BTDHT_SOCIAL_SHARE %}
  <a
    class="btn btn-{{name}}"
    rel="nofollow"
    target="_blank"
    href="{{share.url|safe}}"
    title="{{share.txt}}"
    {% if share.js %}onclick="{{share.js|safe}}"{% endif %}
  ><span class="fa fa-{{name}}"></span> {{share.txt}}</a>
{% endif %}
{% endfor %}
{% endif %}
</div>
<h2>Torrent status</h2>
<p class="pull-left">Last scrape at {{torrent.last_scrape_pp}}.</p>
<form method="post" class="pull-left">
{% csrf_token %}
<input type="hidden" name="scrape" value="1"/>
<a href="#" onclick="$(this).closest('form').submit();"><span class="glyphicon glyphicon-refresh"></span></a>
</form>
<table class="table">
<tr><th>Seeders</th><td>{{torrent.seeds}}</td></tr>
<tr><th>Leechers</th><td>{{torrent.peers}}</td></tr>
<tr><th>Completed</th><td>{{torrent.complete}}</td></tr>
</table>
{% if torrent.files %}
<h2 id="torrent_files">Torrent Files</h2>
<table class="table table-striped table-condensed table-responsive" id="files_table">
<thead><tr><th>Path</th><th>Size</th></tr></thead>
<tbody>
{% for file in torrent.files %}
<tr><td class="full-width">{{file.path}}</td><td class="text-nowrap">{{file.size|size_pp}}</td></tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% endblock %}

