html, body {
    height: 100%;
}
body {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #eee;
}

.form-search .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-search .form-control:focus {
  z-index: 2;
}

#app-name {
    text-align: center;
    color: #58595B;
}
#app-name img {
    width:200px;
    display: block;
    margin:auto;
}

.form-radio {
    margin: 0 -12%;
}

@media screen and (max-width: 768px) {
    #app-name {
        margin: 0;
    }
   #app-name img {
        width:130px;
    }

    .form-radio {
        margin: 0 0;
    }
}
.navbar-form {
    padding: 0;
}
select.select-noarrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select.select-noarrow::-ms-expand {
    display: none;
}

#nav-search-select {
    width: 75px;
    padding: 0;
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}


.full-width {
    width: *;
    word-wrap:break-word;
    word-break: break-all;
}

.navbar-brand img {
    width: 40px;
}

@media screen and (max-width: 1200px) and (min-width: 992px){
    #srch-term {
        width: 165px;
    }
    #navbar-container {
        width: 980px;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    #srch-term {
        width: 175px;
    }
}
@media (max-width: 768px) {
    .full-width {
        min-width: 280px;
        white-space: normal !important;
    }

    #navbar-search-input-group-btn {
        width: 115px;
    }
    #navbar-search-input-group {
        width: 100%;
    }
    #files_table tbody tr td.full-width {
        min-width: 330px;
    }
    #files_table_filter {
        float: right;
    }
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

#torrent_chart {
    width: 1000px;
    height: 400px;
}

.ui-autocomplete {
   z-index:2000;
}

#dmca_table {
    display: none;
}

#dmca_table tr td:first-child {
    font-family:monospace;
}
